.body2{
    background-image: url(https://autoschool.net.ua/img/articles/so-skolki-let-mozhno-sdavat-na-prava-1.jpg);
    background-blend-mode: multiply;
    background-color: #87878e;
    background-size: cover;
}
h1{
    padding-top: 7%;
    color:white;
    text-align: center;
}
h3{
    color: #ff0000;
    font-size: 30px;
    text-align: center;
}
#table1{
    font-family: sans-serif;
    text-align: left;
    border-collapse: separate;
    border-spacing: 5px;
    background-color: #ece9e0;
    border:16px solid silver;
    border-radius: 20px;
}
#table1 th {
    font-size:18px;
    padding:10px;
}
#table1 td{
    background: #f5d7bf;
    padding:10px;
}
#four {
    color:red;
}
#five {
    text-decoration: line-through;
}
#table2 {
    margin-left: 2%;
    margin-bottom: 2%;
    width: 95%;
    font-family: sans-serif;
    font-size: 20px;
    border-collapse: collapse;
    text-align: center;
}
#table2 th, #table2 td:first-child{
    background: #f5d7bf;
    color:black;
    padding: 10px 20px;
}
#table2 th, #table2 td{
    border-style:solid;
    border-width: 0 1px 1px 0;
    border-color: #fafafa;
}
#table2 td {
    color: red;
    background: #f5d7bf;
}
#table2 td:first-child, #table2 th:first-child {
    text-align: left;
}
@media (max-width: 414px)
{
    h1 {
        padding-top: 50%;
    }
}
@media (max-width: 600px) and (min-width:414px)
{
    h1 {
        padding-top: 30%;
    }
}
@media (max-width: 701px) and (min-width:600px)
{
    h1 {
        padding-top: 20%;
    }
}
@media (max-width: 1135px) and (min-width:700px)
{
    h1 {
        padding-top: 6%;
    }
}